

/* Globals */
body {
  color: #616161;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
}

#container {
  margin: 4em auto;
  width: 100%;
  max-width: 800px;
  padding-bottom: 10px;
  /* border: 3px solid green; */
}

a {
    color:#3a5fcd;
    text-decoration: none;
}

a:visited{
  color:#3a5fcd;
}

a:hover{
  color:#4876ff;
  text-decoration: underline;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, .fancy {
  font-family: 'Josefin Slab', serif;
}

code, pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.85em;
  margin: 2px;
}


blockquote {
  background-color: #ECEFF1;
  margin: 20px;
}

blockquote p {
  padding: 10px;
}

/* fix top part */
#topper {
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  max-width: 800px;
  background-color: white;
  z-index: 500;
}

/* Nav Bar */
#navbar{
  font-size: 1.5em;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  height: 2.2em;
  line-height: 2.2em;
  margin: 0 auto;

}

#navbar ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #2E7D32;
    display: inline-block;
    width: 100%;
}

#navbar li {
  width: 20%;
  max-width: 90px;
  min-width: 40px;
  float: left;
  border-right: 1px solid #C8E6C9;
  display: block;
  text-align : center;
  box-sizing: border-box;

}

#navbar li:last-child {
    border-right: none;
}

#navbar li a {
  text-decoration: none;
  color: #E8F5E9;
  display: block;
}

#navbar li a:hover {
    background-color: #81C784;
    color: #1B5E20;
}

#navbar img {
      vertical-align: middle;
      padding-bottom: 0.1em;
}

.notice {
  background-color: #FEE7B7;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: 2px dashed #607D8B
}

/* code blocks */

/* blog images */
  .highlight .lineno {
    color: #CFD8DC;
    display:inline-block;
    padding-left: 5px;
    margin: 0;
    padding-right: 10px;
    border-right:1px solid #607D8B;
  }
  .highlight pre code {
    display: block;
    white-space: pre;
    overflow-x: auto;
    word-wrap: normal;
  }
  .highlight pre {
    margin-left: 8px;
  }

  div .highlight {
    background-color: white;
  }
