{% extends "base.html" %}
{% block content %}

{% for  year, year_group in articles | groupby('date.year') | sort(reverse = True) %}
<h2>{{year}}</h2>

<table class='table table-sm table-borderless blogroll'>
    {% for article in year_group | sort(attribute='date', reverse = True)%}
    <tr>
        <td class=badge_cell>
            {% if article.external_url %}
            <a class='badge badge-pill badge-light' href="{{article.external_url}}">
                {{article.category}}
            </a>
            {% else %}
            <a class='badge badge-pill badge-dark' href="{{article.url}}">
                {{article.category}}
            </a>
            {% endif %}

        </td>
        <td>{{article.title}}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
{% endblock content %}
