<table class="cvtable">
	<tr>
		<td>2016</td> 
		<td>
			Binghamton University, Ph.D., Cognitive &amp; Brain Sciences. <br>
			Dissertation: "<i>Re-evaluating the Reference Point View of Human Classification Learning</i>". <br>
			Committee Chair: Dr. Kenneth J. Kurtz
		</td>
	</tr>

	<tr>
		<td>2014</td> 
		<td>
			Binghamton University, M.S., Cognitive &amp; Brain Sciences. <br>
			Thesis: "<i>Generalization After Category Learning</i>".<br>
			Committee Chair: Dr. Kenneth J. Kurtz
		</td>
	</tr>

	<tr>
		<td>2011</td> 
		<td>
			State University of New York at New Paltz, B.A., Psychology. 
		</td>
	</tr>
</table>

<style type="text/css">
	.cvtable {
	    margin: 0 auto;
	    width: 100%;
	}

	.cvtable td {
		padding-left: 20px;
 		padding-bottom: 10px;
 		vertical-align: top;
	}
</style>