body {
    margin-bottom: 5em;
    width: 100%;
}

h2, h3, h4 {
    margin-top: 1em;
}

/* image centering */

.content img {
    margin: auto;
    display: block;
    padding: 1em;
    max-width: 100%;
    height: auto;
}

.content object {
    max-width: 90%;
    margin: auto;
    display: block;
    padding: 1em;
}

/* styling for code and math */

div.highlight {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    box-shadow: 0.1em 0.2em 1em -0.2em gray;
    padding: 1em;
}

div.MathJax_Display {
    padding: 1em;
}

/* resize block quotes */

.blockquote {
    font-size: 1em;
    margin: 2em;
}

/* table styling */

table.table:not(.blogroll) {
    width: 90%;
    margin: 0 auto;
}

td.badge_cell {
    text-align: center;
}

div.table_wrap {
    margin: 2em auto;
    overflow: auto;
    word-wrap: normal;
}

/* anchor styling */

a.anchor {
    display: none;
}

h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor {
    display: initial;
}